[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlmodel = "*"
pypox = "*"
bs4 = "*"
requests = "*"
httpx = "*"
pytest = "*"
selenium = "*"
webdriver-manager = "*"

[dev-packages]

[requires]
python_version = "3.11"
